<div class="footer navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left"><%- copyright %> Alw3ys</p>
        <p class="navbar-text pull-right">
            <a href="https://twitter.com/Alw3ys/"><i class="fa fa-twitter fa-2x fa-inverse"></i></a>
            &nbsp;
            <a href="https://www.twitch.tv/Alw3ys"><i class="fa fa-twitch fa-2x fa-inverse"></i></a>
            &nbsp;
            <a href="https://www.youtube.com/user/Alw3ys/"><i class="fa fa-youtube-play fa-2x fa-inverse"></i></a>
            &nbsp;
            <a href="https://github.com/Alw3ys"><i class="fa fa-github fa-2x fa-inverse"></i></a>
            &nbsp;
            <a href="mailto:alw3ys@gmail.com"><i class="fa fa-envelope fa-2x fa-inverse"></i></a>
        </p>
    </div>
</div>