<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/default_meta.ejs %>
    <% include includes/title.ejs %>
    <% include includes/favicon.ejs %>
    <% include includes/default_css.ejs %>
</head>
<body>
<div class="container">
    <div class="row">
        <div style="text-align: center;">
            <img src="/img/logo.png" style="height: 180px" alt="Generic placeholder image">
            <br>
            <img src="/img/text.png" style="height: 90px" alt="Generic placeholder image">
            <br>
        </div>
        <div class="list-group col-md-2 col-md-offset-5">
            <a href="/projects" class="list-group-item">Projects <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a>
            <a href="/about" class="list-group-item">About me <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a>
        </div>
    </div>
    <% include includes/default_footer.ejs %>
</div>
</body>
</html>